---
- name: Join the second master node to the cluster
  ansible.builtin.shell: |
    curl -sfL https://get.k3s.io | INSTALL_K3S_VERSION="v1.x.x+k3s1" sh -s - server \
      --server https://{{ hostvars[groups['server'][0]].ansible_host }}:6443 \
      --token {{ hostvars[groups['server'][0]].k3s_token.stdout }} \
      --etcd-snapshot-schedule-cron="0 */12 * * *" \
      --etcd-snapshot-retention=7 \
      --etcd-snapshot-dir=/var/lib/rancher/k3s/server/db/snapshots \
      --write-kubeconfig-mode 644
  args:
    creates: /etc/rancher/k3s/k3s.yaml
  become: true
  retries: 3
  delay: 5
